{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
       
    </head>

    <body>
              
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Change Password</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">    
                        <div class="register-form">
                            <form name="change_password" method="post" action="{% url 'change_password' %}">
                                {% csrf_token %}
                            <div class="row">
                            
                                <div class="col-md-12">
                                    <label>Old Password</label>
                                    <input class="form-control" type="password" placeholder="Old Password" name="old_password">
                                </div>
                                <div class="col-md-6">
                                    <label>New Password</label>
                                    <input class="form-control" type="password" placeholder="New Password" name="npassword">
                                </div>
                                <div class="col-md-6">
                                    <label>Confirm New Password</label>
                                    <input class="form-control" type="password" placeholder="Confirm New Password"  name="cnpassword">
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn">Change Password</button>
                                </div>
                                <div class="col-md-6">
                                    {{msg}}
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Login End -->
        
    </body>
</html>
{% endblock %}