{% extends 'seller_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
       
    </head>

    <body>
              
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Edit Product</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Login Start -->
        <div class="login">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">    
                        <div class="register-form">
                            <form name="seller_edit_product" method="post" action="{% url 'seller_edit_product' pk=product.pk %}" enctype="multipart/form-data">
                                {% csrf_token %}
                            <div class="row">
                            
                                
                                 <div class="col-md-6">
                                    <label>Product Category</label>
                                   <select name="product_category">

                                        
                                        {% if product.product_category == "kid" %}
                                            <option value="kid" selected="selected">Kids</option>
                                        {% elif product.product_category == "men" %}
                                            <option value="men" selected="selected">Men</option>
                                        {% elif product.product_category == "women" %}
                                            <option value="women" selected="selected">Women</option>
                                        {% else %}
                                            <option>---Select Product category---</option>
                                            <option value="kid">Kids</option>
                                            <option value="men">Men</option>
                                            <option value="women">Women</option>
                                        {% endif %}


                                   </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Product Name</label>
                                    <input class="form-control" type="text" placeholder="Product Name" name="product_name" value="{{product.product_name}}">
                                </div>
                                <div class="col-md-6">
                                    <label>Product Price</label>
                                    <input class="form-control" type="text" placeholder="Product Price" name="product_price" value="{{product.product_price}}">
                                </div>
                                <div class="col-md-6">
                                    <label>Product Description</label>
                                    <input class="form-control" type="text" placeholder="Product Description" name="product_desc" value="{{product.product_desc}}">
                                </div>
                                <div class="col-md-6">
                                    <label>Product Color</label>
                                   <select name="product_color">
                                        
                                        {% if product.product_color == "blue" %}
                                            <option value="blue" selected="selected">Blue</option>
                                        {% elif product.product_color == "red" %}
                                            <option value="red" selected="selected">Red</option>
                                        {% elif product.product_color == "green" %}
                                            <option value="green" selected="selected">Green</option>
                                        {% elif product.product_color == "black" %}
                                            <option value="black" selected="selected">Black</option>
                                        {% elif product.product_color == "white" %}
                                            <option value="white" selected="selected">White</option>
                                        {% elif product.product_color == "yellow" %}
                                            <option value="yellow" selected="selected">Yellow</option>
                                        {% else %}
                                            <option>---Select Product Color---</option>
                                            <option value="blue">Blue</option>
                                            <option value="red">Red</option>
                                            <option value="green">Green</option>
                                            <option value="black">Black</option>
                                            <option value="white">White</option>
                                            <option value="yellow">Yellow</option>
                                        {% endif %}

                                   </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Product Size</label>
                                   <select name="product_size">

                                        {% if product.product_size == "s" %}
                                            <option value="s" selected="selected">S</option>
                                        {% elif product.product_size == "m" %}
                                            <option value="m" selected="selected">M</option>
                                        {% elif product.product_size == "l" %}
                                            <option value="l" selected="selected">L</option>
                                        {% else %}
                                            <option>---Select Product Size---</option>
                                            <option value="s">S</option>
                                            <option value="m">M</option>
                                            <option value="l">L</option>
                                        {% endif %}
                                        

                                   </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Current Product Image</label>
                                   <img src="{{product.product_image.url}}" height="200px" width="200px">
                                </div>
                                <div class="col-md-6">
                                    <label>Product Image</label>
                                    <input class="form-control" type="file" placeholder="Product Image" name="product_image">
                                </div>
                                
                                <div class="col-md-6">
                                    <button type="submit" class="btn">Update Product</button>
                                </div>
                                <div class="col-md-6">
                                    {{msg}}
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- Login End -->
        
    </body>
</html>
{% endblock %}